.bottom-contacts{display:none}
@media (max-width: 767px) {
.bottom-contacts{display: block;
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
    z-index: 99;
    box-shadow: 2px 1px 1px #dedede;
    border-top: 1px solid #eaeaea;}
.bottom-contacts ul li{width: 25%;
    float: left;
    list-style: none;
    text-align: center; font-size:11px;}
.bottom-contacts ul li span{color:black}
.bottom-contacts ul li img{    width: 35px;
    margin-top: 10px;
    margin-bottom: 0px;}
 
}